.logo{
    height:10vh;
    width: 15vw;
}

.mr-sm-2{
    width:400px !important;
    height:50px !important
}

Button{
    width:50px !important;
    height:50px !important
}

.icono{
    width:50px !important;
    height:50px !important;
    margin-left:5px !important;
}

.Menu{
    font-size: 20px;
    color:white !important;
}
